<div class="doctor-home-header">
  <div class="doctor-home-header-content">
    <div class="logo-class">
      <img src="/logo.png" class="logo-image" alt="logo" />
      <h1>PSY</h1>
    </div>
    <ul class="doctor-home-links">
      <li>
        <a routerLink="/home/doctor-list" routerLinkActive="active">Doctors</a>
      </li>
      <li>
        <a routerLink="/home/appointments" routerLinkActive="active"
          >Appointments</a
        >
      </li>
      <li>
        <a routerLink="/home/payment-history" routerLinkActive="active"
          >Payments</a
        >
      </li>
    </ul>
    <div class="user-info">
      <div class="notification" (click)="toggleNotificationList()">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="notifications"
          class="white-icon"
        ></mat-icon>
        <div class="notification-list" *ngIf="notificationListVisible">
          <ul>
            <li *ngFor="let notification of notifications">
              <div class="notification-item">
                <h4 class="notification-title">{{ notification.title }}</h4>
                <p class="notification-description">
                  {{ notification.description }}
                </p>
                <span class="notification-date">{{ notification.date }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="user-details" (click)="toggleMenu()">
        <img src="/settings-icon.png" alt="settings" style="max-width: 100%" />
        <div class="menu" *ngIf="menuVisible">
          <ul>
            <li (click)="navigateToEditProfile()">Edit Profile</li>
            <li (click)="logout()">Logout</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
