.doctor-home-header {
  height: 15%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.doctor-home-header-content {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-class {
  display: flex;
  align-items: center;
  width: 20%;
}

.logo-class h1 {
  color: #2aa7ff;
}

.logo-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.doctor-home-links {
  display: flex;
  align-items: center;
}

.doctor-home-links li a {
  margin: 15px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 1.2em;
}
.user-info {
  display: flex;
  align-items: center;
}

.user-info div {
  margin: 15px;
}

.user-info .user-details {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.white-icon {
  color: white;
}

.active {
  background-color: #2aa7ff;
  color: white;
}

.menu {
  position: absolute;
  top: 50px;
  right: 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}

.menu li:hover {
  background-color: #2aa7ff;
  color: white;
  border-radius: 8px;
}
