.notification {
  width: 50px;
  height: 50px;
  background-color: #2aa7ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.white-icon {
  color: white;
}
.notification-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 400px;
  z-index: 1000;
}

.notification-list ul {
  list-style: none;
}

.notification-list li {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

.notification-list li:last-child {
  border-bottom: none;
}

.notification-list li:hover {
  background-color: #f9f9f9;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notification-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.notification-description {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.notification-date {
  font-size: 12px;
  color: #999;
  text-align: right;
  display: block;
  margin-top: 5px;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #f9f9f9;
}
