.content-container h1 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.doctors-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 730px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 731px) and (max-width: 922px) {
  .card {
    width: 50%;
  }
}

mat-paginator {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 20px;
}
