.content-container {
  padding: 20px;
}

.content-container h1 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border-color: #2aa7ff;
}

.price-range {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.price-range label {
  font-size: 14px;
  color: #555;
  font-weight: 500;
}

.price-range input[type="range"] {
  width: 150px;
  -webkit-appearance: none;
  appearance: none;
  background: #ddd;
  height: 5px;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

.price-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #2aa7ff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.price-range input[type="range"]:hover {
  background: #ccc;
}

.price-value {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-left: 10px;
}

.doctors-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 730px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 731px) and (max-width: 1500px) {
  .card {
    width: 50%;
  }
}

mat-paginator {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 20px;
}

.search-button {
  padding: 10px 15px;
  background-color: #2aa7ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:active {
  background-color: #003f7f;
}

.gender-select label {
  margin-right: 10px;
}

.gender-select select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}
