<div class="doctor-home-container">
  <div class="doctor-home-header">
    <div class="doctor-home-header-content">
      <div class="logo-class">
        <img src="/logo.png" class="logo-image" alt="logo" />
        <h1>PSY</h1>
      </div>
      <ul class="doctor-home-links">
        <li>
          <a href="">Doctors</a>
        </li>
        <li>
          <a href="">Appointment</a>
        </li>
        <li>
          <a href="">Payments</a>
        </li>
      </ul>
      <div class="user-info">
        <div class="notification">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="notifications"
            class="white-icon"
          ></mat-icon>
        </div>
        <div class="user-details">
          <img
            src="/settings-icon.png"
            alt="settings"
            style="max-width: 100%"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-container">
      <h1>Doctors List</h1>
      <div class="doctors-list">
        <div class="card" *ngFor="let doctor of doctors">
          <app-doctor-card [doctor]="doctor"></app-doctor-card>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="100" [pageSize]="10" (page)="onPageChange($event)">
  </mat-paginator>
</div>
