.doctor-home-container {
  width: 100vw;
  background-color: #edf4ff;
  position: relative;
  max-width: 100%;
  min-height: 100vh;
}

.doctor-home-header {
  height: 15%;
  display: flex;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.doctor-home-header-content {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-class {
  display: flex;
  align-items: center;
  width: 20%;
}

.logo-class h1 {
  color: #2aa7ff;
}

.logo-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.doctor-home-links {
  display: flex;
  align-items: center;
}

/* .doctor-home-links a {
} */

.doctor-home-links li a {
  margin: 15px;
  padding: 10px 15px;
  border-radius: 15px;
}

.doctor-home-links li a:hover {
  color: #2aa7ff;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info div {
  margin: 15px;
}

.user-info .notification {
  width: 50px;
  height: 50px;
  background-color: #2aa7ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info .user-details {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.white-icon {
  color: white;
}

.content {
  background-color: red;
  width: 100%;
  height: 300px;
}
