.doctor-home-container {
  max-width: 100%;
}

.doctor-home-header {
  height: 15%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.doctor-home-header-content {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-class {
  display: flex;
  align-items: center;
  width: 20%;
}

.logo-class h1 {
  color: #2aa7ff;
}

.logo-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.doctor-home-links {
  display: flex;
  align-items: center;
}

.doctor-home-links li a {
  margin: 15px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 1.2em;
}

.doctor-home-links li a:hover {
  color: #2aa7ff;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info div {
  margin: 15px;
}

.user-info .notification {
  width: 50px;
  height: 50px;
  background-color: #2aa7ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info .user-details {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.white-icon {
  color: white;
}

.content {
  width: 100%;
}

.content-container {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.content-container h1 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.doctors-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 730px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 731px) and (max-width: 922px) {
  .card {
    width: 50%;
  }
}

mat-paginator {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 20px;
}
