.container {
  width: 100vw;
  height: 100vh;
  background-color: #edf4ff;
  position: relative;
  max-width: 100%;
  
}
header {
  height: 15%;
  justify-content: space-evenly;
}
header,
.content {
  display: flex;
}

.logo-class {
  display: flex;
  align-items: center;
  width: 20%;
}

.logo-class h1 {
  color: #2aa7ff;
}

.navigate {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: flex-end;
}
.links li a:hover {
  color: #2aa7ff;
}

.links a,
.account a {
  padding: 10px 15px;
  margin: 10px;
}

.account .login a {
  color: white;
  border-radius: 27px;
  background-color: #2aa7ff;
}
.account .sign-up a {
  color: #2aa7ff;
  border-radius: 27px;
  border: 1px solid #2aa7ff;
  background-color: white;
}

.account {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.content {
  height: 85%;
}
.content .text {
  display: flex;
  align-items: center;
}

.text-content {
  width: 40%;
  margin-left: 100px;
}

.text-content h1 {
  margin-bottom: 50px;
  color: #2aa7ff;
  font-size: 60px;
}
.text-content p {
  margin-bottom: 50px;
  font-size: 18px;
}

.text-content .consult {
  padding: 10px 15px;
  color: white;
  border-radius: 27px;
  background-color: #2aa7ff;
}

.image {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
}

.patient {
  display: flex;
  position: absolute;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  top: 50%;
  left: 40%;
}
.patient-text h2 {
  margin-bottom: 10px;
}
.smile-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 15px;
}

.icon {
  background-color: #2aa7ff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.check-up {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  top: 18%;
  left: 65%;
}

[fontIcon="done_all"] {
  color: white;
}

.service {
  padding-top: 50px;
  margin-top: 100px;
  background-color: #edf4ff;
}

.service h1 {
  text-align: center;
}

.service-content {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: auto;
}

.service-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
  margin-right: 100px;
}

.service p {
  line-height: 2;
  font-size: 20;
  width: 700px;
}
.feedback-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.feedbacks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.contact {
  background-color: #edf4ff;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contact .info {
  margin-left: 40px;
}

.contact .info p {
  width: 400px;
  line-height: 1.8;
  margin: 20px 0;
}
.contact-form-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.contact-form {
  background-color: white;
  border-radius: 15px;
  width: 60%;
  padding: 20px;
}
.contact-form h1 {
  margin-bottom: 15px;
}

.contact-form > p {
  margin-bottom: 40px;
}

.contact-form input {
  display: block;
  padding: 8px 15px;
  border-radius: 8px;
  outline: none;
  border: 1px solid gray;
  width: 100%;
}
.contact-form textarea {
  display: block;
  padding: 8px 15px;
  border-radius: 8px;
  outline: none;
  border: 1px solid gray;
  width: 100%;
  margin-top: 15px;
}

.contact-form button {
  width: 100%;
  margin-top: 15px;
  border-radius: 27px;
  outline: none;
  padding: 10px;
  color: white;
  border: none;
  background-color: #2aa7ff;
  font-size: 17px;
  cursor: pointer;
}

.contact-form form p {
  text-align: center;
  margin-top: 10px;
  color: #777;
}
