.feedback-card {
  padding: 20px 25px;
  width: 300px;
  height: 420px;
  border-radius: 15px;
  display: flex;
  border: 2px solid #2aa7ff;
}

.feedback-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}

.feedback-card h3 {
  color: #2aa7ff;
}

.feedback-card p {
  line-height: 1.8;
  margin-top: 10px;
}
